* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: #3d4d34;
}
.preLoader {
  position: fixed;
  top: 0%;
  background-image: url("../imag/preloader.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 1s;
  z-index: 50;
}
.wellcome {
  color: rgb(193, 193, 137);
  opacity: 0;
  width: 100%;
  height: 10%;
  transition: all 2s ease;
  color: orange;
  font-size: 2em;
  text-align: center;
  position: absolute;
  animation: fadeOut 6s forwards cubic-bezier(0.5, 1, 0.98, 1);
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sig {
  background: transparent url("../imag/preloader-sig.png") no-repeat center;
  width: 400px;
  height: 400px;
  opacity: 0;
  transition: all 2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main part of fist page */
.main {
  opacity: 0;
  background-image: url("../imag/h1-page-background-img-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  z-index: -1;
  transition: all 1s ease;
  border: 1px solid #dcc69c;
  margin: 20px;
  padding: 20px;
}
.corner-shape1 {
  position: absolute;
  top: -1px;
  left: -1px;
}
.corner-shape2 {
  position: absolute;
  bottom: -1px;
  left: -1px;
  transform: rotate(270deg);
}
.corner-shape3 {
  position: absolute;
  top: -1px;
  right: -1px;
  transform: rotate(90deg);
}
.corner-shape4 {
  position: absolute;
  bottom: -1px;
  right: -1px;
  transform: rotate(180deg);
}
.main-header {
  height: 185px;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}
.main-header-inner {
  padding-left: 80px;
  padding-right: 80px;
  border-bottom: 0 solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 40px;
}
.main-header-logo {
  margin: auto;
  opacity: 1;
  height: 122px;
  position: relative;
  display: flex;
  align-items: center;
}
.hotoel-header-logo {
  display: block;
  height: auto;
  width: 162px;
}
.main-header-left {
  margin-left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.main-header-left-inner1 {
  margin: 0;
}
.main-header-left-inner2 {
  border: 1px solid #dcc69c;
  font-weight: 600;
  position: relative;
  padding: 16px 56px 16px 56px;
  cursor: pointer;
  text-decoration: none;
}
.main-header-box-reserve {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid rgb(219, 199, 133, 0.5);
  line-height: 1.2rem;
}
.main-header-reserve-text {
  color: #dcc69c;
}

.main-header-right {
  margin-right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.main-header-right-lang {
  width: auto;
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: baseline;
  position: relative;
}
.main-header-right-lang-inner1 {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.main-header-lang-dropdown {
    /* position: relative; */
    display: inline-block;
}
.main-header-lang-btn{
  color: #dcc69c;
  background: none;
  font-size: 16px;
  border: none;
  text-decoration: none;
  line-height: 24px;
  
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    left: -4px;
    border: 1px solid rgb(219, 199, 133, 0.5);
    padding: 16px 25px 16px;
    position: absolute;
   
  }
  
  .dropdown-content a {
    color: #dcc69c;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 26px;
  }
  .dropdown-content a:hover {background:none;}

  .main-header-lang-dropdown:hover .dropdown-content {display: block;}

  .main-header-lang-dropdown:hover .main-header-lang-btn{background: none;}
  p {
    margin: 10px 0;
  }
  .fa-regular{
      font-size: 16px;
      color: #dcc69c;
  }

  /* .main-text-intro-inner{
    width: 640px;
    max-width: 640px;
    
  } */
  .main-text-intro{
    margin-top: 50px;
    position: relative;
    text-align: center;
    vertical-align: top;
    /* justify-content: center; */
    margin-bottom: 50px;
  }
.main-text-intro-date p{
   text-transform: uppercase;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.66;
   letter-spacing: .4em;
   display: inline-flex;
   vertical-align: middle;
   color: #dcc69c;
}
.main-text-intro-vication{
  font-family: serif;
   margin-top: 15px;
   font-weight: 600;
   font-size: 30px;
   line-height:1.2em;
   color: #dcc69c;
   
}
/* tree  */
.tree-image{
  height: 535px;
  width: 1236px;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin: auto;
}
.tree-image img{
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}
/* @media all and  (max-width: 800px) {
  .tree-image{
    height: 435px;
    width: 836px;
    
  }
} */
.exellence-part{
  margin-top: 50px;
  height: 835px;
  width: 1236px;
 position: relative;
 display: flex;
 justify-content: space-between;
 align-items: center;  
}
.excellence-part-text{
  width: 40%;
  height: 80%;
  position: absolute;
  left: 30px;
  top: 150px ;
  text-align: center;
  
}
.excellence-part-text h3 {
  font-weight: 600;
  color: #dcc69c;
  font-size: 38px;
  line-height: 1.21rem;
  margin-bottom: 23px;
}
.excellence-part-text h5 {
  color: #dcc69c;
  font-size: 12px;
  line-height: 1.66rem;
  margin-bottom: 20px;
  letter-spacing: .4em;
}
.excellence-part-text p {
  color: #dcc69c;
  font-size: 16px;
  line-height: 1.66rem;
  margin-bottom: 40px;
}
.excellence-part-text-btm-border{
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 1px solid rgb(219, 199, 133, 0.5);
  line-height: 1.2rem;
}
.excellence-part-text-btm {
  margin-top: 40px;
  border: 1px solid #dcc69c;
  /* font-weight: 600; */
  position: relative;
  padding: 16px 56px 16px 56px;
  cursor: pointer;
  text-decoration: none;
  color: #dcc69c;
}

.excellence-part-image{
  width: 50%;
  height: 80%;
  position: absolute;
  right: 30px ;


}
.excellence-part-image-span{
  border: 1px solid rgb(219, 199, 133, 0.5);
  position: absolute;
  top: -40px;
  right: -40px;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.excellence-part-image img{
  width: 100%;
  height: 100%;
  opacity: 200;
  position: absolute;
}

